django
scikit-learn
numpy
pandas
joblib
gunicorn
tqdm
open3d
trimesh
torch
pygltflib
pathlib
rtree
laspy
cupy-cuda11x
--extra-index-url https://pypi.anaconda.org/rapidsai-wheels-nightly/simple
cuml-cu11